.color-changer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}


.color-changer .color-cards-wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.color-changer .color-card{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}