.counter-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 20px;
}

.counter-game header{
    background-color: #282c34;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;

    
}

.counter-game button{
    padding: 8px 12px;
   
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.counter-game .increment{
    background-color: #28a745;
}
.counter-game .decrement{
    background-color: #dc3545;
}
.counter-game .counter-display{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
.counter-game .button-wrapper{
    display: flex;
    gap: 20px;
    justify-content: center;
}