.login-form-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
     

}

.login-form-body input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.login-form-body button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.login-form-body button:hover{
    background-color: #218838;
}
.login-form-body h3{
    color: rgb(12, 12, 12);
}

.login-form-body form{
    border: 1px solid #111111;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}