*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  
}

.login-form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f5f5f5;
}


.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.default-header{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: #333;
}